<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Messageboard</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <div class="content">
      <% for (let i = notes.length - 1; i > -1; i--) { %>
        <a href="open/?user=<%= notes[i].id %>">
          <div class="note" id="color<%= notes[i].color %>">
            <h2><%= notes[i].user %></h2>
            <p><%= notes[i].text %></p>
          </div>
        </a>
      <% } %>
    <a href="/new" class="add">ADD MESSAGE</a>
    </div>
    <p class="thanks">Image by 
      <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=102071"> 
        Gerd Altmann</a> 
        from 
      <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=102071"> 
        Pixabay</a>
    </p>
  </body>
</html>