<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/message.css">
    <title>Message</title>
  </head>
  <body>
    <div class="note">
      <h2><%= message.user%></h2>
      <p><%= message.text%></p>
      <p class="date"><%= message.added%></p>
    </div> 
    <h1>Click anywhere to redirect</h1>

    <script>
      document.body.addEventListener('click', () => {
        window.location.href = '/';
      });
    </script>
  </body>
</html>
