body {
  width: 100vw;
  height: 100vh;
}

.note {
  left: 50%;
  top: 28%;
  width: clamp(100px, 33%, 250px);
  font-size: clamp(8px, 1.5vw, 13px);
  transform: translate(-50%, -50%) scale(1.7);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
}

.note::before {
  top: -1%;
}

.note h2 {
  margin-bottom: 0px;
}

label {
  margin-bottom: -9px;
}

input {
  font-size: 12px;
}
textarea {
  resize: none;
  height: 40%;

  font-size: 10px;
}

button {
  cursor: pointer;
  color: white;
  font-size: clamp(10px, 1.7vw, 20px);
  border-radius: 0.5vw;
  background-color: rgb(0, 140, 255);
  border: none;
  padding: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.39);
}

.colors {
  left: 50%;
  top: 52vh;
  transform: translate(-50%, -50%);
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 70%;
  max-width: 700px;
}

.color {
  padding: min(5%, 25px);
  border-radius: 100%;
  border: 2px solid rgb(0, 0, 0);
}
