@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Patrick+Hand&display=swap');



.content {
  display: flex;
  max-width: 700px;
  width: 82%;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: min(10vw, 100px);
  gap: 8%;
  row-gap: 3vw;
}

.content a {
  all: unset;
  display: block;
  cursor: pointer;
  text-decoration: none;
}



a.add{
  position: absolute;
  bottom: 100px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.7vw;
  font-size: clamp(12px, 2vw, 30px);
  border-radius: 1vw;
  background-color: rgb(0, 140, 255);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.39);
}
.thanks {
  position:absolute;
  bottom:0;
  max-width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.39);
  padding: 10px 30px;
  text-align: center;
}