@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Patrick+Hand&display=swap');

body {
  font-family: "Comic Neue", "Patrick Hand", cursive;
  min-width: 100%;
  margin: 0;
  background-image: url('/bulletin-board-102071_1920.jpg');
  background-size: 95%;
  background-position: top;
  background-repeat: no-repeat;
  
}

.content {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 9vw;
  gap: 20px;
  row-gap: 45px;
}

.content a {
  all: unset;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.note {
  width: clamp(100px, 15vw, 200px);
  aspect-ratio: 1 / 1;
  background-color: #fff8a6;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);  
  font-size: 1.7vw;
  padding: 2vw;
  word-wrap: break-word;
  position: relative;
}

.note::before {
  content: "";
  background-image: radial-gradient(red 50%, black 100%);
  box-shadow: 0 2px 3px rgba(0,0,0,.25);
  padding: 1vw;
  position: absolute;
  top: -10px;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%);
  font-size: 2em;
  pointer-events: none;
}

.note h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.note p {
  margin: 0;
}

.thanks {
  position:absolute;
  bottom:0;
  width:100%;
  text-align: center;
}