@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Patrick+Hand&display=swap');



.content {
  display: flex;
  max-width: 700px;
  width: 82%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: min(10vw, 100px);
  gap: 8%;
  row-gap: 2vw;
}

.content a {
  all: unset;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

a.add{
  position: absolute;
  top: min(115vw, 88%);
  color: white;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.7vw;
  font-size: clamp(12px, 2vw, 30px);
  border-radius: 1vw;
  background-color: rgb(0, 140, 255);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.39);
}
.thanks {
  position:absolute;
  bottom: -10px;
  max-width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.39);
  padding: 10px 30px;
  text-align: center;
}

.pagination {
  top: min(115vw, 88%);
  max-width: 700px;
  width: 82%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  position: absolute;
  justify-content: space-between;
}

a.next, a.prev {
  color: black;
  background-color: rgba(255, 255, 255, 0.856);
  border-radius: 0.7vw;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.39);
  padding: 0.7vw;
  font-size: clamp(12px, 2.5vw, 28px);
}