body {
  backdrop-filter: blur(1.5px);
}

h1 {
  text-align: center;
  position: relative;
  top:  clamp(50px, 25vw, 300px);
  left: 50%;
  transform: translateX(-50%);
  width: min(400px, 80%);
}

.note {
  left: 50%;
  top: clamp(50px, 25vw, 300px);
  transform: translate(-50%, -50%) scale(1.7);
  display: flex;
  flex-direction: column;
}

.note .date {
  margin-top: auto;
  width: 80%;
}